<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>
</div>
<hr>
<button>Display Details</button>
<hr>
<p>On Bright Day, in the middle of the Night, Two Dead Men got up to fight, Back to Back they faced each other, Drew their swords and shot each other.  A Deaf Policeman heard the noise, got up and shot the boys.  If you don't believe this lie is true, Ask the Blind Man, he saw it too.</p>
<hr>

